*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
.bg-color{
    background-color: #ccc;
}
.icon-card{
    flex-basis: calc(100% / 5);
    height:200px;
    border:1px solid black;
}
.icon-card-inner{
    background-color: white;
    padding: 15px;
    text-align: center;
}